.main-header {
  height: 7vh;
  min-height: 60px;
  background-color: black;
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 2vh 2vw;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left li,
.logout-link {
  line-height: 60px;
}

.root-link,
.matter-registration,
.matter-search,
.mypage-link,
.logout-link {
  text-decoration: none;
  color: #fff;
}

.root-link,
.matter-registration,
.mypage-link {
  margin-right: 3vw;
}

.mypage-link {
  display: flex;
  align-items: center;
}

.user-icon {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  object-fit: cover;
  margin-right: 1vw;
}