<%= render "shared/header" %>
<div class="top-main">
  <div class="matter-lists">
    <% @matters.first(8).each do |matter| %>
    <%= render partial: "shared/matter_list", locals: {matter: matter}%>
    <%end%>
  </div>
</div>
<%= render "shared/footer" %>