<body>
  <div class='matter'>
    <div class='matter-title'>
      <h2>新規案件を登録してください</h2>
    </div>
    <div class="matter-main">
      <%= form_with model: @matter, url: matters_path, class:"matter-forms", local: true do |f|  %>
      <%= render partial: "shared/matter_form", locals: { f: f } %>
      <div>
        <%= f.submit "顧客情報登録へ",class:"matter-button"%>
      </div>
      <% end %>
    </div>
  </div>
</body>