<body>
  <div class='matter'>
    <div class='matter-title'>
      <h2>担当営業の情報を入力してください</h2>
    </div>
    <div class="matter-main">
      <%= form_with model: @sales_staff, url:sales_staffs_path, class:"matter-forms", local: true do |f|  %>
      <%= render partial: "shared/sales_staff_form", locals: { f: f } %>
      <div>
        <%= f.submit "登録" ,class:"user-button" %>
      </div>
      <% end %>
    </div>
  </div>
</body>