<%= render "shared/header" %>
  <div class="mypage">
    <div class="mypage-main">
      <h2>〇〇さんのマイページ</h2>
      <div class="user-info">
        <div class="image">
        </div>
      </div>
      <div class="user-matters">
      </div>
    <div>
  </div>
<%= render "shared/footer" %>