<div class="sidebar">
  <ul>
    <li>
      <%= link_to "基本情報", user_path(params[:id]), class:"sidebar-link" %></li>
    </li>
    <li>
      <%= link_to "案件一覧", root_path, class:"sidebar-link" %></li>
    </li>
    <% if(current_user == @user) %>
    <li><%= link_to "ユーザー情報編集", edit_user_registration_path, class:"sidebar-link" %></li>
    </li>
    <li>
      <%= link_to user_registration_path, method: :delete, data: {confirm: "本当にアカウントを削除しますか？"}, class:"sidebar-link" do %>
      アカウント削除
      <% end %>
    </li>
    <% end %>
  </ul>
</div>