<%= render "shared/error_messages", model: @sales_staff %>
<table class="matter-table">
  <tr class="matter-table-row-middle">
    <th>部署・役職</th>
    <td><%= f.text_area :department, class:"matter-text-area-middle", id:"sales-department" %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>営業スタッフ</th>
    <td><%= f.text_field :staff, class:"matter-text-field", id:"staff-name" %>
    </td>
  </tr>
</table>