<body>
  <div class='matter'>
    <div class='matter-title'>
      <h2>顧客情報を編集してください</h2>
    </div>
    <div class="matter-main">
      <%= form_with model: @client, controller: :clients,url:matter_client_path(matter_id: @matter.id), class:"matter-forms", local: true do |f|  %>
      <%= render partial: "shared/client_form", locals: { f: f } %>
      <div>
        <%= f.submit "顧客情報を編集" ,class:"user-button" %>
      </div>
      <% end %>
    </div>
  </div>
</body>