.search-sidebar {
  background-color: #dcdcdc;
  width: 300px;
  padding: 30px 10px 10px;
  flex-shrink: 0;
}

.search-main {
  height: 100%;
  margin: 0 auto;
  padding: 20px 2vw 0 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-main::before {
  display: block;
  content: "";
  width: 270px;
  order: 1;
  margin: 0 1.5vw 20px;
}

.search-main::after {
  display: block;
  content: "";
  width: 270px;
  margin: 0 1.5vw 20px;
}