<body>
  <div class='matter'>
    <div class='matter-title'>
      <h2>商談履歴を編集してください</h2>
    </div>
    <div class="matter-main">
      <%= form_with model: @business_talk_record, url:matter_business_talk_record_path, class:"matter-forms", local: true do |f|  %>
      <%= render partial: "shared/business_talk_record_form", locals: { f: f } %>
      <div>
        <%= f.submit "商談記録を編集" ,class:"user-button" %>
      </div>
      <% end %>
    </div>
  </div>
</body>