.mypage {
  display: flex;
  height: 83vh;
  background-color: rgb(230, 238, 243);
}

.mypage-main {
  width: 100%;
  padding: 10px;
}

.user-information th {
  min-width: 100px;
  width: 10vw;
  padding-left: 10px;
  background-color: #CCFFCC;
  border-right: solid 5px #7FFF00;
}

.table-title,
.table-title_bottom {
  min-width: 150px;
  width: 10vw;
  padding: 10px;
  background-color: #fff;
}

.table-title {
  border-bottom: dotted 1px grey;
}

.table-data,
.table-data_bottom {
  min-width: 300px;
  width: 400px;
  padding: 10px;
  background-color: #fff;
}

.table-data {
  border-bottom: dotted 1px grey;
}

.user-information td img {
  height: 200px;
}