.mypage {
  display: flex;
  height: 80vh;
  background-color: rgb(230, 238, 243);
}

.mypage-main {
  width: 100%;
  padding: 10px;
}

.user-information th {
  width: 150px;
  padding-left: 10px;
  background-color: #dcdcdc;
  border-right: solid 5px grey;
}

.tabel-title,
.tabel-title_bottom {
  width: 150px;
  padding: 10px;
  background-color: #fff;
}

.tabel-title {
  border-bottom: dotted 1px grey;
}

.tabel-data,
.tabel-data_bottom {
  width: 400px;
  padding: 10px;
  background-color: #fff;
}

.tabel-data {
  border-bottom: dotted 1px grey;
}

.user-information td img {
  height: 200px;
}